# MongoDB Connection String
# For Local MongoDB: mongodb://localhost:27017/ems
# For MongoDB Atlas: mongodb+srv://<username>:<password>@cluster.mongodb.net/ems?retryWrites=true&w=majority
DATABASE_URL="mongodb://localhost:27017/ems"

# JWT configuration secret for signing access tokens
JWT_SECRET="generate-a-secure-random-key-in-production"
